[submodule "plugins/Orglendar"]
	path = plugins/Orglendar
	url = git://github.com/alexander-yakushev/Orglendar.git
[submodule "themes"]
	path = themes
	url = git://github.com/mikar/awesome-themes.git
